@import url(//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.4.5/css/foundation.min.css);


h1, h2, h3, h4, h5, h6 {

	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

a {
	color:black;
}

header {
	h1 {
		margin-bottom: 0.5em;
	}
}

header, article {
	border-bottom: 5px solid black;
}

article {
	// iframe {
	// 	margin:1em 0;
	// 	display: none !important;
	// 	visibility: hidden !important;
	// }
	&:last-child {
		border-bottom: none;
	}
}

.default {
	article {
		&:first-of-type {
			.entry-title {
				&::before { 
				    content: "NEW: ";
				}
			}
		}
	}
}

ul.inline-list {
	display: inline;
	li {
		display: inline-block;
		list-style-type: none;
	}
}
