<!doctype html>
<head prefix="og: http://ogp.me/ns#">
	<head>
		<title>{{ site.name }}</title>
		{% include meta.html %}
	</head>
	<body class="default">

		<section class="row">

			<div class="medium-10 columns medium-centered">

				{% include header.html %}

				{% comment %} 
					https://gist.github.com/nimbupani/1421828 
					{% if post == site.posts.first %}
						<h4>NEW</h4>
					{% endif %}
				{% endcomment %}
					
				{% for post in site.posts %}

					{% assign title = post.title %}
					{% assign content = post.content %}
					{% include post_detail.html %}

				{% endfor %}

			</div>

		</section>	

		{% include footer.html %}
			
	</body>
</html>